<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>EventeX</title>
	<link type='text/css' href='{{ STATIC_URL }}css/style.css' rel='stylesheet' media='screen' />
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.min.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/site.js'></script>
</head>
<body>
	<div id='site'>
		<div id='content'>
			<h1>[EventeX]</h1>
			<div class='banner'>
				<img src='{{ STATIC_URL }}img/party-rock.jpg' alt='powered by django' />
				<p>O evento mais sensacional do ano depois do Dev in Rio!(?)</p>
            	<p>Você não pode perder esta oportunidade!</p>
	            <p>Abertura das inscrições em 30/09/2012.</p>
	            <p>Para dúvidas e mais informações entre em <br /> contato com <a href='mailto:eventex@eventex.com.br'>eventex@eventex.com.br</a></p>
			</div>	
		</div>	
	</div>
	<div id='footer'>
			EventeX 2012 | <a href='https://www.djangoproject.com/'><img src='{{ STATIC_URL }}img/80x15-django-powered.png' alt='powered by django' /></a>
	</div>
</body>
</html>